theme "catppuccin-frappe"
mouse_mode true
scroll_buffer_size 1000000
session_serialization true
pane_frames false
copy_command "pbcopy"

ui {
  pane_frames {
    hide_session_name true
  }
}

keybinds {
  unbind "Ctrl o"
  shared_except "locked" {
    bind "Super t" { NewTab; }
    bind "Super w" { CloseTab; }
    bind "Ctrl Tab" { NewTab; }
  }  
}
